<section class="homepage">
  <app-banner src="assets/imagens/banner-homepage.png" alt="Banner da aplicação Jornada"></app-banner>
  <app-container>
    <h2>Promoções</h2>
    <app-form-busca></app-form-busca>
    <div class="card-wrapper">
      <app-card-busca title="Venda de milhas" subtitle="Compre e venda milhas" image="assets/imagens/Veneza.png"
        content="Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, voluptatum."
        [valor]=1000></app-card-busca>
      <app-card-busca title="Venda de milhas" subtitle="Compre e venda milhas" image="assets/imagens/Veneza.png"
        content="Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, voluptatum."
        [valor]=1000></app-card-busca>
      <app-card-busca title="Venda de milhas" subtitle="Compre e venda milhas" image="assets/imagens/Veneza.png"
        content="Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, voluptatum."
        [valor]=1000></app-card-busca>
      <app-card-busca title="Venda de milhas" subtitle="Compre e venda milhas" image="assets/imagens/Veneza.png"
        content="Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, voluptatum."
        [valor]=1000></app-card-busca>
      <app-card-busca title="Venda de milhas" subtitle="Compre e venda milhas" image="assets/imagens/Veneza.png"
        content="Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, voluptatum."
        [valor]=1000></app-card-busca>
      <app-card-busca title="Venda de milhas" subtitle="Compre e venda milhas" image="assets/imagens/Veneza.png"
        content="Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, voluptatum."
        [valor]=1000></app-card-busca>
    </div>
    <h2>Depoimentos</h2>
    <div class="card-wrapper">
      <app-card-depoimento></app-card-depoimento>
      <app-card-depoimento></app-card-depoimento>
      <app-card-depoimento></app-card-depoimento>
    </div>

  </app-container>

  <app-banner src="assets/imagens/banner-homepage.png" alt="Banner da aplicação Jornada"></app-banner>
</section>
